@font-face {
    font-family: Fredoka;
    src: url(./fonts/Fredoka-VariableFont_wdth\,wght.ttf);
}

@font-face{
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #0d1721;
}

.container{
    padding: 50px;
    width: calc(50vw - 10px);
    display: inline-block;
    text-align: center;
}

#title{
    font-family: 'Poppins', sans-serif;   
    font-size: 45px;
    font-weight: 600;
    color: #d6dbde;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}

#percentage{
    margin-top: 40px;
    font-family: Fredoka, sans-serif;
    font-weight: 300;
    font-size: 68px;
    color: #A569BD;
}

#age{
    font-family: Fredoka, sans-serif;
    font-weight: 900;
    font-size: 22px;
    color: #3498DB;
    text-decoration-line: none;
}

::-webkit-scrollbar{
    display: none;
}